@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --verdeMusgo: #baed1d;
    --azulMedio: #004cce;
    --laranja: #fd700e;
    --amarelo: #f9e210;
    --ciano: #94e3e6;
    --fontTema: 'Poetsen One';
    --fontP: 'Roboto Slab';
}

body {
    background-color: white;

}

#triangulos {
    height: 18px;
    /*background-color: #004cce;*/
    background-image: url(/imagens/images.png);
    /* border-image-repeat: repeat;*/
    background-repeat: repeat-x;
    width: 100%;
    background-size: 2vw 18px;
}

.ordemPalcos {
    display: flex;
    justify-content: center;
    align-items: center;}

#listaPalcos {
    display:block;
    width: 75%;
}

.PalcosDiv {
    border-radius: 10px;
    padding: 5px;
    /* border: 3px solid var(--verdeMusgo);
    flex: 0 0 15%;
    */
    box-shadow: 0px -1px 2px 1px var(--verdeMusgo);
margin: 30px;


}

#tituloPalcos,
#tituloDivPalcos {
    font-family: var(--fontTema);
    color: var(--azulMedio);

}

#tituloPalcos {
    font-size: 80px;
    width: 450px;
    padding: 5px;
    border-radius: 10px;
    background: var(--verdeMusgo);
    text-shadow: 1px 0 10px var(--ciano);
    text-align: center;
}

#tituloDivPalcos {
    font-size: 30px;
}

p {
    color: var(--azulMedio);
    font-family: var(--fontP);
    font-weight: 800px;
    font-size: 18px;
}

#cabeçalhoPalcos {
    display: flex;
    justify-content: center;
    align-items: center;
}