@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@498&display=swap');

:root {
    --verdeMusgo: #baed1d;
    --azulMedio: #004cce;
    --laranja: #fd700e;
    --amarelo: #f9e210;
    --ciano: #94e3e6;
    --RoxoCandy: #5d65ae;
    --rosaCandy: #df4f97;
    --laranjaCandy: #ed5838;
    --lilasCandy: #8450c6;
    --azulCandy:#00ccd4;
    --fontTema: 'Poetsen One';
    --fontPg: 'Oswald';
}

body {
    background-color: var(--verdeMusgo);

}

#triangulos {
    height: 18px;
    /*background-color: #004cce;*/
    background-image: url(/imagens/imagesbranco.png);
    /* border-image-repeat: repeat;*/
    background-repeat: repeat-x;
    width: 100%;
    background-size: 20px 20px;
}

#imagenss {
    height: 120px;
    width: 270px;
    border-radius: 10px;
}

.ordemShows {
    padding-left: 7%;
}

#listaShows {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #000;

}

.showsDiv {
    flex: 0 0 15%;
    border-radius: 10px;
    padding: 5px;
    /* border: 3px solid var(--verdeMusgo);*/
    box-shadow: 1px -1px 15px 1px white;
background-color: var(--rosaCandy);

}

#tituloShows,
#tituloDiv {
    font-family: var(--fontTema);
    text-align: center;

}

#tituloShows {
    font-size: 80px;
    width: 450px;
    padding: 5px;
    border-radius: 10px;
    color: white;

    text-shadow: 1px 0 10px var(--ciano);
}

#tituloDiv {
    font-size: 20px;
    color: white;


}

p {
    color: white;
    font-family: var(--fontPg);
    font-weight: 600px;
    font-size: 14px;
}

#cabeçalho {
    display: flex;
    justify-content: center;
    align-items: center;
}