@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
    --verdeMusgo: #baed1d;
    --azulMedio: #004cce;
    --laranja: #fd700e;
    --amarelo: #f9e210;
    --ciano: #94e3e6;
    --fontTema: 'Poetsen One'

}

body {
    background-color: white;

}

h1 {
    font-family: var(--fontTema);
    color: var(--azulMedio);
    text-shadow: 1px 0 10px var(--ciano);
}

.ordem {
    background-color: /* #b6afb1 */ white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    align-self: center;
}

.botoesIndex {
    width: 420px;
    height: 90px;
    border-radius: 10px;
    background-color: var(--verdeMusgo);
    font-size: 40px;
    font-weight: bolder;
    font-family: var(--fontTema);
    color: var(--azulMedio);
    border: none;
    box-shadow: 0px -1px 15px 1px var(--ciano);
}

#esquerda {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: /* aqua */ white;
    align-items: center;

}

#direita {
    background-color: white;
}
#triangulos{
    height: 18px;
    /*background-color: #004cce;*/
    background-image: url(/imagens/images.png);
   /* border-image-repeat: repeat;*/
   background-repeat: repeat-x;
   width: 100%;
   background-size: 2vw 18px; 
}
header{
    height: 70px;
    width: 100%;

}
#imagenss{
    height: 220px;
    width: 240px;
}
#titulo{
    font-size: 190px;

}
.ordemShows{
    color: #004cce;
}
#listaShows{
background: var(--amarelo);
display: flex;
flex-wrap: wrap;
gap: 12px;
}
.showsDiv{
    background: #baed1d;
    flex: 1 1 25%;
    border-radius: 10px;
    padding: 5px;

}