@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
    --verdeMusgo: #baed1d;
    --azulMedio: #004cce;
    --laranja: #fd700e;
    --amarelo: #f9e210;
    --ciano: #94e3e6;
    --RoxoCandy: #5d65ae;
    --rosaCandy: #f6007b;
    --laranjaCandy: #ed5838;
    --lilasCandy: #8450c6;
    --azulCandy:#00ccd4;
    --fontTema: 'Poetsen One';
    
}

body {
    background-color: var(--verdeMusgo);

}

#triangulos {
    height: 18px;
    background-image: url(/imagens/imagesbranco.png);  
    background-repeat: repeat-x;
    width: 100%;
    background-size: 20px 20px;
}

#imagensArtistas {
    height: 120px;
    width: 270px;
border-radius: 10px;
}

.ordemArtistas {
    padding-left: 7%;
}

#listaArtistas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ArtistasDiv {
    flex: 0 0 15%;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--RoxoCandy);
    box-shadow:1px -1px 15px 1px white;
    cursor: pointer;
}

#tituloArtistas,
#tituloDivArtistas {
    font-family: var(--fontTema);
    text-align: center;

}

#tituloArtistas {
    font-size: 80px;
    width: 450px;
    padding: 5px;
    color: white;
    text-shadow: 1px 0 10px var(--ciano);
}

#tituloDivArtistas {
    font-size: 20px;
    color: white;
}


#cabeçalhoArtistas {
    display: flex;
    justify-content: center;
    align-items: center;
}