@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --verdeMusgo: #baed1d;
    --azulMedio: #004cce;
    --laranja: #fd700e;
    --amarelo: #f9e210;
    --ciano: #94e3e6;
    --RoxoCandy: #5d65ae;
    --rosaCandy: #f6007b;
    --laranjaCandy: #ed5838;
    --lilasCandy: #8450c6;
    --azulCandy:#00ccd4;
    --fontTema: 'Poetsen One'

}

body {
    background-color:var(--verdeMusgo);

}

#triangulos {
    height: 18px;
    /*background-color: #004cce;*/
    background-image: url(/imagens/imagesbranco.png);
    /* border-image-repeat: repeat;*/
    background-repeat: repeat-x;
    width: 100%;
    background-size: 10px 10px;
}

.ordemPalcos {
    display: flex;
    justify-content: center;
    align-items: center;}

#listaPalcos {
    display:block;
    width: 85%;
}

.PalcosDiv {
    border-radius: 10px;
    padding: 5px;
    /* border: 3px solid var(--verdeMusgo);
    flex: 0 0 15%;
    */
    box-shadow: 1px -1px 15px 1px white;
margin: 70px;
background-color: var(--azulCandy);



}

#tituloPalcos,
#tituloDivPalcos {
    font-family: var(--fontTema);
    color: white;

}

#tituloPalcos {
    font-size: 80px;
    width: 450px;
    padding: 5px;
    border-radius: 10px;
    text-shadow: 1px 0 10px var(--ciano);
    text-align: center;
}

#tituloDivPalcos {
    font-size: 30px;
}

p {
    color: white;
    font-family: var(--fontP);
    font-weight: 800px;
    font-size: 18px;
}

#cabeçalhoPalcos {
    display: flex;
    justify-content: center;
    align-items: center;
}