@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
    --verdeMusgo: #baed1d;
    --azulMedio: #004cce;
    --laranja: #fd700e;
    --amarelo: #f9e210;
    --ciano: #94e3e6;
    --RoxoCandy: #5d65ae
        /* #e16544 */
    ;
    --fontTema: 'Poetsen One'

}

body {
    background-color: var(--verdeMusgo);

}



.ordem {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 0px;
    /* 
   justify-content: space-around;
    position: relative;
    */
}

.botoesIndex {
    /* width: 420px;
    height: 90px;
    border-radius: 10px;
    background-color: var(--verdeMusgo);
    color: var(--azulMedio);
    box-shadow: 0px -1px 15px 1px var(--ciano);

 */
    font-size: 40px;
    font-weight: bolder;
    font-family: var(--fontTema);
    border: none;
}

#esquerda {
    display: flex;
   width: 100%;
    align-items: center;

}

#direita {
    background-color: white;
}

#triangulos {
    height: 50px;
    background-image: url(/imagens/imagesbranco.png);
    background-repeat: repeat-x;
    width: 100%;
    background-size: 25px 25px;
}

header {
    height: 70px;
    width: 100%;

}

#artistas {
    border-bottom: 50px solid var(--verdeMusgo);
    background-color: var(--laranja);
    border-right: 50px solid violet;
    border-left: 50px solid violet;


}

#palcos {
    border-top: 50px solid var(--verdeMusgo);
    background-color: violet;
    border-right: 50px solid violet;

    border-left: 50px solid violet;

}
#shows {
    border-bottom: 50px solid var(--verdeMusgo);
    background-color: violet;
    border-right: 50px solid violet;

    border-left: 50px solid violet;

}